Assume the development environment is a macOS machine with the following tools installed:
- Cursor
- Docker Desktop
- Git
- Helm
- Kind
- Kubectl
- Kustomize
- PowerShell
- Visual Studio Code

Use 2 spaces for tabs.
For any instructions, assume that a script or code should be created/updated.
Prefer updating existing scripts rather than creating new ones.
Use shell scripts where possible.
Ensure any scripts can be run multiple times without errors.
For any applications that need to be run, use containers where possible.
Prefer deploying to Kubernetes clusters using helm rather than kustomize.
When deploying any applications that have credentials, provide instructions on how to fetch the credentials using a script.
Any code created should be production grade.
